@mixin section-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@mixin list-display {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

@mixin section-title {
  text-align: center;
  font-weight: 800;
  padding-bottom: 20px;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 56px;
  margin-top: 140px;
  gap: 30px;

  @media all and (min-width: 768px) {
    margin-top: 120px;
    margin-bottom: 112px;
    flex-direction: row-reverse;
  }

  &__characters {
    @include section-display;
    min-width: 70vw;

    &__title {
      @include section-title;
      text-transform: capitalize;

    }

    &__list {
      @include list-display;
    }
  }

  &__favorites {
    @include section-display;
    min-width: 30vw;

    &__title {
      @include section-title;
    }

    &__list {
      @include list-display;
    }
  }
}

// .main__characters .item__article {
//   cursor: pointer;
// }

.item__article {
  cursor: pointer;
  padding: 10px;
  word-wrap: break-word;
  width: 200px;
  height: 200px;
  font-size: 0.8rem;
  background: linear-gradient(-45deg, $color-green-2 0%, $color-green-3 100%);
  border: solid 2px $color-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  @media all and (min-width: 768px) {
    width: 200px;
    min-height: 200px;
    padding: 20px;
  }

  &__title {
    font-weight: 600;
    text-align: right;
    margin-bottom: 10px;
    align-self: flex-end;
  }

  &__img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    object-position: top center;

    // @media all and (min-width: 768px) {
    //   width: 200px;
    //   height: 300px;
    // }

    // @media all and (min-width: 1280px) {}
  }

  &__text {
    margin-top: 10px;
    align-self: flex-start;
  }
}

.hidden {
  display: none;
}

.favorite {
  //background: darken($color-green, 10%);
  background: linear-gradient(-45deg, darken($color-green-2, 10%) 0%, darken($color-green-3, 10%) 100%);
}

// .main__favorites .favorite:before {
//   font-family: $font-family-awesome;
//   content: "\f057";
//   font-size: 1rem;
//   margin: 10px;
//   font-weight: 900;
//   text-align: right;
//   cursor: pointer;
// }