.header {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: flex-end;
  background-image: url(../images/breaking-bad-banner-5.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;

  @media all and (min-width: 768px) {
    height: 200px;
  }

  @media all and (min-width: 1280px) {
    height: 300px;
  }

  &__form {
    display: flex;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 15px;
    background-color: transparent;
    opacity: 0.95;
    transform: translateY(115%);

    @media all and (min-width: 768px) {
      flex-direction: row;
      gap: 30px;
      transform: translateY(100%);
    }


    &__input {
      border: solid 3px $color-green;
      background-color: $color-light;
      width: 100%;
      color: $color-dark-1;
      font-family: $font-family-montserrat;
      font-size: 1rem;
      padding: 10px;
      box-shadow: 0px 0px 14px 9px $color-green;

      @media all and (min-width: 768px) {
        width: 50%;
      }

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $color-dark-1;
        font-family: $font-family-montserrat;
        font-size: 0.8em;

        @media all and (min-width: 768px) {
          font-size: 1em;
        }
      }
    }

    &__btn {
      border: solid 3px $color-light;
      background-color: $color-green;
      color: $color-light;
      font-size: 1rem;
      font-family: $font-family-montserrat;
      padding: 10px 40px;
      font-weight: 600;

      &:hover {
        background-color: darken($color-green, 10%);
      }
    }
  }
}